body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.felexiable-container{
    display: flex;
    margin-bottom: 8%;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
    color:darkgrey;
}
.orange-color{
    color: orange;
    
}
.link-button{
    text-decoration: none;
    padding: 8px 10px;
    border-radius: 20px;
    color:white;
    font-weight:700;
}
#order-button{
    background-image: linear-gradient(orange, tomato);
}
#contact-button{
    background-image: linear-gradient(blue, cyan);
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}
.half-width img{
    width:100%;
}
.background-img{
    background-image: url(images/about-bg.jpg);
    background-size: 100% 100%;
}
#left-half-width{
    width: 50%;
    padding: 5% 5% 0% 11%;
   
}
#left-half-width img{
    width:80%;
}
#right-half-width{
    width:50%;
    padding-left: 5%;
    padding-right: 12%;
    padding-top: 10%;
    padding-bottom: 5%;
}
#margin-order-link-button{
    margin-top: 8%;
}
#margin-contact-link-button{
    margin-top: 22%;
}
#recipi-align{
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
}
.recepi-width{
    width: 30%;
    padding:1% 1% 1% 1%;
    margin-left: 3.33%;
    margin-right: 3.33%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 25px;
}
.recepi-width p{
    text-align: justify;
}
.recepi-width img{
    width:100%
}
#recepi-padding {
    margin-left: 3.33%;
    margin-right: 3.33%;
    margin-top: 5%;
}
h3{
    font-weight: 700;
    text-align: center;
}
footer{
    text-align: center;
    background-color:black ;
    padding-top:2%;
    padding-bottom: 8%;
}
footer p{
    color: darkgrey;
    font-weight: 700;
}